{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<style>

@media screen and (max-width: 600px) {
    
}
img.responsive-img, video.responsive-video {
    max-width: 250px;
    height: 150px;
}
.container-xl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.col .row {
    
    width: 300px;
}
</style>



    <!-- <div class="container" align="center" style="font-family: 'Dancing Script', cursive;"> -->
    <div class="container" align="center" style="font-family: 'kenyan-coffee_regular'">
        <h1 style="padding-top:12.8px; font-size: 50px;">Welcome to My Portfolio</h1>
    </div>
    <br>
    <div class="container-xl">
        <div class="col">
            <div class="row s2" style="align-items: center;">
                <img src="/static/assets/garima_3.jpeg" class="responsive-img" alt="" width="30px" style="border-radius: 45%; box-shadow: 10px 10px 8px #888888; " >
            </div>
            <div class="row s10">
                      <ul class="collapsible">
                        <li>
                          <div class="collapsible-header" style="background-color: transparent; font-size: 20px;"><i class="material-icons">whatshot</i><b>Garima Tata</b> </div>
                          <div class="collapsible-body"><span style="display: flex; flex-direction: row; text-indent: 15px;">
                            <!-- <button style="background-color: cadetblue; padding: 5px;border-style: hidden; border-radius: 3px;"><a href="/login/"  style=" color: black;">Login</a>  </button> <br>
                            <button style="background-color: cadetblue; padding: 5px;border-style: hidden; border-radius: 3px;"><a href="/signup/" style=" color: black;">SignUp</a></button> -->
                            <button style="background-color: cadetblue; padding: 5px;border-style: hidden; border-radius: 3px;"><a href="/" style=" color: black;"></a></button> 
                          </span></div>
                        </li>
                      </ul>
                </div>
            </div>

    </div>
    <br>
    <br>
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>

{% endblock %}


