<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
</head>
<body>

    
    <div style="display: flex-inline;">
        <h1 align="center">Resume</h1>
        <a href="/" style="color: black; padding: 12px; background-color: coral; border-radius: 50%;" >Back</a>
    </div>
    <embed src="/static/assets/Resume.pdf" width="100%" height="600px" type="application/pdf">
</body>
</html>
