{% extends 'base.html' %}

{% block title %}
Site
{% endblock %}

{% block content %}
<div class="container" style="padding: 10px;">
    <br>
    <br>
    <br>
    <br>
        
    <br>
    <br>
    <br>
    <br>
    <p style="font-size: 20px;" class="center-align">
        WEBSITE LINK WILL BE ACTIVATED SOON.
    </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>

<!-- Include Materialize CSS and JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });
</script>
{% endblock %}
